/*
 * PROYECTO POKÉDEX - ARCHIVO DEL ALUMNADO
 *
 * PISTAS:
 * - Organiza tus estilos por bloques (header, main, pokedex, tarjetas, etc.).
 * - Empieza por cosas básicas: tipografía, colores, márgenes, fondo...
 * - Más adelante puedes añadir maquetación con flexbox o grid (según hayamos visto en clase).
 */

/* PISTA: estilo general de la página */
.root{
    --color-header:rgb(206, 45, 45); 
}
body {
    /* PISTA: elige una fuente sencilla (por ejemplo: Arial, sans-serif) */
    /* PISTA: pon un color de fondo suave y un color de texto legible */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

/* PISTA: estilos para el header (zona superior) */
.header {
    /* PISTA: centra el texto y pon algo de relleno (padding) */
    padding: 20px;
    background-color:rgb(206, 45, 45); 
    color: white;
}
.nav-input{
    display: flex;
    align-items: end;
    gap: 3px;

}
.nav-input button{
    height: 25px;
    width: 70px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid white;
    background-color: white;
    color: black;
    font-weight: bolder;
    cursor: pointer;

}
.nav-input button:hover{
    background-color: chocolate;
    border: solid chocolate;
}
.buscadorPoke{
    width: 180px;
    height: 25px;
    border-radius: 5px;
    border: solid white;
}
.header-divs{
    display: flex;
    justify-content: space-around;
}
.subtitle {
    /* PISTA: puedes hacer que el subtítulo tenga un tamaño algo más pequeño y un color diferente */
}

/* PISTA: contenedor principal */
.main {
    /* PISTA: limita el ancho de la página y céntrala con margin */
}

/* PISTA: contenedor donde irán las tarjetas de Pokémon */
.pokedex {
    /* PISTA:
     * - Aquí puedes usar display: flex; o display: grid; para crear una rejilla.
     * - Añade separación (gap) entre tarjetas.
     */
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;
     min-width: 300px;

}

/* PISTA: estilo de cada tarjeta de Pokémon */
.pokemon-card {
    /* PISTA:
     * - Pon un fondo blanco o claro.
     * - Añade un borde suave y sombra ligera.
     * - Añade padding dentro de la tarjeta.
     */
     background-color: azure;
     box-shadow: 0px 0px 1px 0px black;
     border-radius: 20px;

}

.pokemon-card img {
    max-width: 200px;
    height: 200px;
    object-fit: contain;


    /* PISTA: haz que la imagen no se salga de la tarjeta (width: 100%; height: auto;) */
}
.pokemon-card h2 {
    padding: 10px;
    /* PISTA: estilo para el nombre del Pokémon */
}

.pokemon-card p {
    padding: 10px;

    /* PISTA: estilo para el texto secundario (tipo, número, etc.) */
}
